h1 {
    font-family:Verdana, Tahoma, sans-serif;
    font-size:xx-large;
    font-style:bold;
    font-variant: petite-caps;
    background-color:orange;
    color:black;
    text-align:center;
    display: block;
    clear: both;
    height: 40px;
    border: 3px solid black;
     
    }

body{
    background-color: lightslategray;
}

.cabecalho{
    font-family:Verdana, Tahoma, sans-serif;
    font-size:x-large;
    text-align:center;
}

a{
    color: orange;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

summary{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    font-style:bold;
    font-variant:small-caps;
    background-color: orange;
    border: 3px solid black;
    
}

span{

    background-color: orange;
    display: inline-block;
    border: 3px solid black;
    padding:10px;
}

.s1{
    width: 25%;
}

.s2{
    width: 70%;
}

ul{
    color: black;
    display: inline-block;
    font-size: large;
    font-style:normal;
    font-variant: small-caps;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 50%;
    width: 100%;
}

.inf{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    font-style:bold;
    font-variant:small-caps;
}

details{
    
   
    margin: 3px;
}