h1 {
    font-family:Verdana, Tahoma, sans-serif;
    font-size:xx-large;
    font-style:bold;
    font-variant: petite-caps;
    background: darkolivegreen;
    color:white;
    text-align:center;
    display: block;
    clear: both;
    height: 40px;
    border: 3px solid black;
    border-radius: 20px;
    }

body{
    background-color:lightgray;
}

.cabecalho{
    font-family:Verdana, Tahoma, sans-serif;
    font-size:x-large;
    text-align:center;
    border-radius:15px;
}



img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}


summary{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    font-style:bold;
    font-variant:small-caps;
    background-color: orange;
    border: 3px solid black;
    transition-duration: 1s;
    transition-delay: 0,2s;
    transition-timing-function: linear;
    border-radius: 10px;
}

summary:hover{
    background-color: darkolivegreen;
}
summary:active{
    color:orangered;
}


span{

    background-color: orange;
    display: inline-block;
    border: 3px solid black;
    padding:10px;
    border-radius: 10px;
}

.s1{
    width: 25%;
}

.s2{
    width: 70%;
}

ul{
    color: black;
    display: inline-block;
    font-size: large;
    font-style:normal;
    font-variant: small-caps;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 50%;
    width: 100%;
    border-radius:10px;
}

.inf{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    font-style:bold;
    font-variant:small-caps;
}

details{
    margin: 3px;
    
}

.lista{
    display:block;
}

a{
    background-color: black;
    color: orange;
    display: inline;
    border: 2px solid ;
    padding: 10px;
    border-radius: 20px;
}

a:visited{
    background-color: darkgray;
    color:darkblue;
    border: 2px solid darkblue;
}

a:hover{
    background-color: darkgray;
    color:darkgreen;
    border: 2px solid darkgreen;
}
a:focus{
    background-color: darkgray;
    color:darkred;
    border: 2px solid darkred;
}
a:active{
    background-color: gray;
    color:orangered;
    border: 2px solid orangered;
}

.frame{
    display: block;
    background-color: orange;
    width: 350px;
    height: 400px;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#imgtext{
    position: relative;
    bottom: 15px;
    text-align: center;
    color: black;
    font-size: 20px;
}

.fig{
    margin-top: 20px;
}

.fig:hover{
    opacity: 0.7;
}

.centrar{
    display: block;
    text-align: center;
}